<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New book</title>
</head>
<body>
<form th:action="@{/books}" th:object="${book}" th:method="POST">
  <label for="title">Введите название книги:</label>
  <input type="text" th:field="*{title}" id="title">
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name error</div>
  <br>

  <label for="author">Введите автора</label>
  <input type="text" th:field="*{author}" id="author">
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name error</div>
  <br>

  <label for="age">Введите год:</label>
  <input type="text" th:field="*{year}" id="age">
  <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Name error</div>

  <input type="submit" value="Создать!">
</form>
</body>
</html>