<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>
<form th:action="@{/people/{id}(id=${person.id})}" th:object="${person}" th:method="PATCH">
    <label for="name">Введите ФИО:</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>

    <label for="age">Введите год рождения:</label>
    <input type="text" th:field="*{year}" id="age">
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Name error</div>

    <input type="submit" value="Редактировать!">
</form>
</body>
</html>